/target

# fuck vibe coders, fuck ai
/.cursor
/.github/copilot*
/.kiro
/.windsurf
/.codex
/.instrucions.md
/.prompt
/.rules
/AGENT.md
/AGENTS.md
/CLAUDE.md
/CONVENTIONS.md
/global_rules.md
/.windsurfrules
!/src/*mcp*
*mcp*
